<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Application Approved</title>
</head>

<div>
  <div class="container" style="margin: 0 2em">
    <br />
    <div>
      <img src="{{ whiteHeaderLogo }}" alt="motiBCLogo" />
    </div>

    <br />

    <hr class="solid" style="border-top: 1px solid #dbdcdc" />
    <div class="flex-container" style="margin: 1em 0">
      <p
        style="
          font-family:
            BC Sans,
            sans-serif;
          font-style: normal;
          font-size: 16px;
          color: #313132;
          margin: 0px;
        "
      >
        Application {{ applicationNumber }} for plate {{ plate }} has been
        approved and is now ready for purchase in the {{ companyName }} shopping
        cart.
      </p>
    </div>

    <div class="flex-container" style="margin: 1em 0">
      <p
        style="
          font-family:
            BC Sans,
            sans-serif;
          font-style: normal;
          font-size: 16px;
          color: #313132;
          margin: 0px;
        "
      >
        You can apply for additional permits online at
        <a href="https://www.onroutebc.gov.bc.ca/" style="color: #1a5a96"
          >https://onroutebc.gov.bc.ca/</a
        >.
      </p>
    </div>

    <div class="flex-container" style="margin: 1em 0">
      <p
        style="
          font-family:
            BC Sans,
            sans-serif;
          font-style: normal;
          font-size: 16px;
          color: #313132;
          margin: 0px;
        "
      >
        <b>
          THIS EMAIL BOX IS NOT MONITORED AND ANY EMAILS SENT TO IT WILL NOT BE
          ANSWERED. IF YOU HAVE ANY QUESTIONS, REQUESTS, PLEASE EMAIL:
        </b>
        <a href="mailto:ppcpermit@gov.bc.ca" style="color: #1a5a96"
          >ppcpermit&#64;gov.bc.ca</a
        >. If you have received this message in error, then please contact
        <a href="mailto:ppcpermit@gov.bc.ca" style="color: #1a5a96"
          >ppcpermit&#64;gov.bc.ca</a
        >
        and then immediately delete/discard this transmission, including all
        attachments, without copying, distributing or disclosing same.
      </p>
    </div>

    <hr class="solid" style="border-top: 1px solid #dbdcdc" />
    <div class="flex-container" style="margin: 1em 0">
      <br />
      <div>
        <img
          src="{{ whiteFooterLogo }}"
          alt="onRouteBCLogo"
          style="margin: 0px"
        />
      </div>

      <br />

      <p
        style="
          font-family:
            BC Sans,
            sans-serif;
          font-style: normal;
          font-size: 16px;
          color: #313132;
          margin: 0px;
        "
      >
        Have questions or need help? Check out the
        <a
          href="https://www2.gov.bc.ca/gov/content/transportation/vehicle-safety-enforcement/services/permitting/commercial-transport-permits"
          style="color: #1a5a96"
          >Commercial Vehicle Permits</a
        >
        page or email us at
        <a href="mailto:onRouteBc@gov.bc.ca" style="color: #1a5a96"
          >onRouteBc&#64;gov.bc.ca</a
        >.
      </p>

      <br />

      <p
        style="
          font-family:
            BC Sans,
            sans-serif;
          font-style: normal;
          font-size: 16px;
          color: #313132;
          margin: 0px;
        "
      >
        <a href="#" style="color: #1a5a96">Terms of Service</a>
        and
        <a href="#" style="color: #1a5a96">Privacy Policy</a>
      </p>
    </div>
    <hr class="solid" style="border-top: 1px solid #dbdcdc" />
  </div>
</div>
